
.root header{
  box-shadow: none;
  position: relative;
}
.root header::after{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: #ccc;
  bottom: 0px;
}

.tabPanel{
  padding: 15px;
}

.nameLabel{
  text-align: center;
}