.wrapper{
  padding: 20px;
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.componentControls{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
  position: absolute;
  top: 10px;
  right: 15px;
} 

.wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.wrapper ul li span {
  font-weight: bold;
}

.noAlert{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
